<!DOCTYPE html>
<html>
<head>
  <title>Online Bookstore</title>
  <%= stylesheet_link_tag "depot.css", :media => "all" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag "prototype"%>
  <%= javascript_include_tag "rails"%>
  <%= csrf_meta_tags %>
</head>
<body id="store">
    <div id="banner">
        <%= image_tag("logo.png") %>
        <%= @page_title || "Calvin's Bookstore" %>
    </div>

    <div id="columns">
        <div id="side">
            <%= link_to 'Home' , { :action => 'index'} %> <br />
            <a href="#">Questions</a><br />
            <a href="#">News</a><br />
            <a href="#">Contact</a><br />
        </div><!-- end left-side bar -->

        <div id="main">
            <%= yield %>
        </div><!--end of main -->
    </div> <!-- end columns -->
</body>
</html>
