<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "depot.css", :media => "all" %>
  <%= stylesheet_link_tag "scaffold", :media => "all" %>
  <%= javascript_include_tag "prototype"%>
  <%= javascript_include_tag "rails"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
